/* The basic rules of the webpage. Margins and padding reset, and the two primary containers are configured in a flexbox with margins. */

* { /* No margins or padding by default. */
	margin: 0;
	padding: 0;
}

body {
	background-color: #454861;
}

.flex-container { /* Setting up the flexbox for the left and right columns of the webpage. */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}
.flex-container > div {
	background-color: #65698E;
}



/* Setting up the exclusive behaviors of the left and right columns. */
#left-div { /* Left and right column behavior. */
	width: 17.2%;
	display: flex;
	flex-direction: column;
	background-color: #65698E;
}
#right-div {
	width: 82.2%;
	padding: 1% 0 1% 0;
}

@media screen and (max-width: 800px) { /*Left and right column behavior on a narrow format. (typically smartphone) */
	.flex-container > div {
		margin: 0 0 10px 0;
	}
	#left-div, #right-div {
		width: 100%;
	}
}

@media screen and (min-width: 801px) {
	#left-div {
		margin-right: 0.6%;
	}
}


/* Behaviors of the inner elements of the left column, which is used for navigation. */
#left-div * { /*Text behavior in the left column defined for all *children. */
	text-align: right;
	font-family: Verdana, sans-serif;
	font-variant: small-caps;
	color: #EFEFEF;
}

header { /*Header behavior (HGK) */
	padding: 10px 0 3px 0;
}

nav > ul, #about > ul { /*Defining the behavior of the navigation. Also including these rules for the social media buttons in the right divider! */
	list-style-type: none;
}
nav > ul > li a {
	display: block;
	opacity: 0.85;
	padding: 10px 10% 10px 0;
	text-decoration: none;
}
nav > ul > li a:hover {
	opacity: 0.85;
}

@media screen and (max-width: 800px) { /* Defining navigation behavior on smartphones or narrow displays. */
	#left-div {
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: center;
		align-items: flex-end;
		padding: 1% 0 0 0;
	}
	header {
		width: 40%;
		padding: 0 0.5% 0 0;
		height: 100%;
	}
	header img {
		width: 100%;
		height: 100%;
	}
	nav {
		width: 60%;
	}
	nav > ul {
		display: flex;
		flex-direction: row;
	}
	nav > ul > li {
		width: 32%;
		margin: 0 0 0 1%;
	}
	nav > ul > li a { 
		background-image: linear-gradient(to bottom, #65698E, #b2b4c6);
		display: flex;
		justify-content: center;
		align-items: flex-end;
		height: 100px;
		padding: 0 0 10px 0;
		opacity: 0.85;
	}
	nav > ul > li a:hover {
		background-image: linear-gradient(to bottom, #65698E, #9e93af);
	}
}

@media screen and (min-width: 801px) { /* Defining navigation behavior on traditional wide displays. */
	#left-div {
		background-image: linear-gradient(to bottom, #65698E 30%, #454861 90%);
	}
	header > img {
		width: 100%;
	}
	nav > ul > li a {
		margin: 0 0 5px 0;
		background-image: linear-gradient(to right, #65698E 5%, #b2b4c6);
	}
	nav > ul > li a:hover {
		background-image: linear-gradient(to right, #65698E 5%, #9e93af);
	}
}




/* Primary body sections CSS */
#portfolio { /* Establishing flex behavior for the portfolio elements */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* CSS for the portfolio section of the primary body */
#portfolio > img { /*Establishing image behavior on wide-screen */
	width: 32.9%;
}
#portfolio > img:hover {
	filter: brightness(1.25);
}
@media screen and (max-width: 1200px) { /* Middle screen width */
	#portfolio > img {
		width: 49.5%;
	}
}
@media screen and (max-width: 800px) { /* Narrow or smartphone */
	#portfolio > img {
		width: 100%;
	}
}

/* Css for the about section of the primary body */
#about {
	background-color: #EFEFEF;
	text-align: center;
	padding: 0 20% 0 20%;
}

#about h1 {
	font-family: Verdana, sans-serif;
	font-variant: small-caps;
	padding: 0 0 5px 0;
	color: #5555DD;
	font-size: 2em;
}

#about p {
	font-family: Verdana, sans-serif;
	color: #1111AA;
	font-size: 0.9em;
}

#about a {
	text-decoration: none;
}

#about img {
	width: 100%;
	margin-bottom: 2%;
}

#about ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#about li {
	background-color: #b2b4c6;
	padding: 5px 20px 5px 20px;
	margin: 3%;
	text-align: center;
}
#about li:hover {
	background-color: #9e93af;
}

@media screen and (max-width: 800px) {
	#about {
		padding: 0 10% 0 10%;
	}
}

#skills p {
	text-align: left;
}







#contact {
	padding: 3px 0 3px 0;
	text-align: center;
}












/* Footer-related */
footer {
	background-color: #F1F1F1;
	padding: 1%;
	margin: 10px 0 0 0;
	width: 100%;
}

@media screen and (max-width: 800px) {
	footer {
		margin: 0;
	}
}